AI Tix Triage for CS.json
{
  "name": "AI Tix Triage for CS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "4fedd3d8-cfb4-4d78-92c7-a5d3032dd64e",
      "name": "Email Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        336
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "b6IJKUPE7q61JXig",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "subject",
              "value": "={{ $json.subject.substring(0, 200) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "body",
              "value": "={{ $json.textPlain ? $json.textPlain.substring(0, 2000) : $json.textHtml.substring(0, 2000) }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "receivedAt",
              "value": "={{ $json.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "914930af-dcdf-43f9-bb7d-d5723374c64d",
      "name": "Clean Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        336
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an assistant helping a Customer Success team triage support tickets. For the given email subject and body, return a JSON object with: category (one of: onboarding, billing, bug, feature_request, account_access, other), sentiment (one of: positive, neutral, negative), urgency (one of: low, medium, high), churn_risk (one of: low, medium, high), summary (1-2 sentence summary of the issue), product_area (short text like login, billing, reporting). Respond only with a valid JSON object."
            },
            {
              "content": "=Subject: {{ $json.subject }}\nBody: {{ $json.body }}\n\nAnalyze this ticket and respond only with a valid JSON object."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {}
          },
          "temperature": 0.2
        }
      },
      "id": "dd13784e-52e6-4444-a060-3fc2ed4065bc",
      "name": "AI Classification",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        656,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "892lF4Q2IzxxXT81",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.message.content;\nconst parsed = JSON.parse(response);\nreturn [{ json: parsed }];"
      },
      "id": "bcf65a33-9f71-49bc-acac-c7714c74d268",
      "name": "Parse JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "date",
              "value": "={{ $('Clean Email Data').item.json.receivedAt }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "from",
              "value": "={{ $('Clean Email Data').item.json.from }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "subject",
              "value": "={{ $('Clean Email Data').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "category",
              "value": "={{ $('Parse JSON Response').item.json.category }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "sentiment",
              "value": "={{ $('Parse JSON Response').item.json.sentiment }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "urgency",
              "value": "={{ $('Parse JSON Response').item.json.urgency }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "churn_risk",
              "value": "={{ $('Parse JSON Response').item.json.churn_risk }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "product_area",
              "value": "={{ $('Parse JSON Response').item.json.product_area }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "summary",
              "value": "={{ $('Parse JSON Response').item.json.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1dabe23f-adf3-4b55-8dfc-93f6af1a4d1a",
      "name": "Prepare VoC Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "20474adf-8032-4cf1-a107-5d3fbd37648b",
      "name": "VoC Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eYwIsbuVu6CFHD0o",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Parse JSON Response').item.json.churn_risk }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $('Parse JSON Response').item.json.sentiment }}",
              "rightValue": "negative",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $('Parse JSON Response').item.json.urgency }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2f1b4f17-8dc8-479f-be97-08a0c00d578e",
      "name": "Check Churn Risk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        432
      ]
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__csm_email__>",
        "subject": "🚨 Churn-risk ticket detected",
        "message": "=🚨 *Churn-risk ticket detected*\n\n*From:* {{ $('Clean Email Data').item.json.from }}\n*Subject:* {{ $('Clean Email Data').item.json.subject }}\n*Category:* {{ $('Parse JSON Response').item.json.category }} | *Sentiment:* {{ $('Parse JSON Response').item.json.sentiment }} | *Urgency:* {{ $('Parse JSON Response').item.json.urgency }} | *Churn risk:* {{ $('Parse JSON Response').item.json.churn_risk }}\n\n*Summary:* {{ $('Parse JSON Response').item.json.summary }}\n\n*Product Area:* {{ $('Parse JSON Response').item.json.product_area }}",
        "options": {}
      },
      "id": "11cbb170-2609-4a23-8efc-7406f955f6e1",
      "name": "Send Churn Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        432
      ],
      "webhookId": "495be3e6-6c0b-426f-93e0-85aa85df10dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "b6IJKUPE7q61JXig",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger": {
      "main": [
        [
          {
            "node": "Clean Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Email Data": {
      "main": [
        [
          {
            "node": "AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classification": {
      "main": [
        [
          {
            "node": "Parse JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Response": {
      "main": [
        [
          {
            "node": "Prepare VoC Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Churn Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare VoC Data": {
      "main": [
        [
          {
            "node": "VoC Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Churn Risk": {
      "main": [
        [
          {
            "node": "Send Churn Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bcb2efc2-7ea5-4a29-b15f-c7e2ead951a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb7c8f19dc76189c5ef04643c4937ca9d3e8bbb0cfeebe59cb41c98aa8ea9ec9"
  },
  "id": "kyfVsiNOZwn7QLFh",
  "tags": []
}